{%extends 'layout.html' %}

{% block title %}
my name is shani

{% endblock %}


{% block content %}
    <h1>Welcome to the Epower Home Page</h1>
    <div class="grid grid-cols-3 gap-4 m-4 rounded shadow">
        {% for epower in epowers %}
            <div class="bg-pink-200 p-4 rounded shadow">
            <h1>{{ epower.name }}</h1>
            <p>{{ epower.message }}</p>
            <p>{{ epower.type }}</p>
            <img src="{{ epower.image.url }}" alt="" >
            
            <a href="{% url 'epower_detail' epower.pk %}">
                <button class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <p>Price: ${{ epower.price }}</p>
                </button>
            </a>
            </div>
        
            {% endfor %}
    </div>
{% endblock %}
