{% load static tailwind_tags %}
{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    My Web Site
    {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
     {% tailwind_css %}
</head>
<body>
    <nav style="color: rgb(255, 10, 10);">Home</nav>
     {% block uname %}
    <p class="text-center"></p>
    {% endblock %}
    {% block content %}
    default content
    {% endblock %}
</body>
</html>